
bin/Release/StudioPatcher2.exe.config
bin/Release/StudioPatcher2.exe
bin/Release/StudioPatcher2.pdb
bin/Release/Resources/DarkTheme.json
*.exe
*.pdb
bin/Release/Resources/LightTheme.json
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/StudioPatcher2.csproj.AssemblyReference.cache
obj/Debug/StudioPatcher2.csproj.CoreCompileInputs.cache
obj/Debug/StudioPatcher2.csproj.FileListAbsolute.txt
obj/Debug/StudioPatcher2.csproj.GenerateResource.cache
obj/Debug/StudioPatcher2.Properties.Resources.resources
obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/StudioPatcher2.csproj.CoreCompileInputs.cache
obj/Release/StudioPatcher2.csproj.FileListAbsolute.txt
obj/Release/StudioPatcher2.csproj.GenerateResource.cache
obj/Release/StudioPatcher2.Properties.Resources.resources
obj/Release/TempPE/Properties.Resources.Designer.cs.dll
